---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main style="padding: var(--space-32);">
		<h1>ポートフォリオ</h1>
		<p>理系大学で情報系を専攻しています。興味のある技術やプロジェクトを公開しています。</p>
		<a href="/projects">プロジェクト一覧を見る</a>
	</main>
</Layout>
