<div id="FirstButton">
    <button type="button">type="button"</button>
</div>

<style>
    #FirstButton {
        width: 148px;
        height: 48px;
        border-radius: 4px;
        background: #333333;
        display: flex;
        justify-content: center;
        alien-items: center;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
    }
</style>